@use "../base/settings"as s;
.button {
  background: s.$blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: s.$font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: s.$s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
