@use "base/base";

.is-active {
  font-weight: bold;
  text-decoration: none;
  cursor: auto;
}


.header {
  &__navlinks {
    display: flex;
    justify-content: space-between;
    width: 25rem;
  }

  margin-bottom: 2rem;
}